 /* center {
background-color: gold;
}
ul{
    background-color: brown;
}
ul li{
    color: gray;
}

ol{
    background-color: rgb(7, 12, 0);
}
ol li{
    color: chartreuse;
} */
body {
    background-color: rgb(166, 240, 227);
}
b{
    color: blue;
}
hr{
    color: blanchedalmond;
}
marquee{
    color: brown;
}
h1{
    background-color: rgb(100, 65, 65);
}